.div3{
    padding: 3ch;
    background-color: rgb(128, 189, 230);
    text-align: center;
    color: cornsilk;
    font-family:cursive;
    font-style: italic;
    font-stretch: extra-expanded;
    font-size: larger;
}