
.container h2{
    color: rgba(128, 189, 230, 0.931);
} 
.container img{
    width: 30ch;
    height: 32ch;
    border-radius: 1ch;

}
.container img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.container p{
    font-size: 2ch;
    color: rgb(0, 101, 168);
    font-weight: bolder;
}