.div2{
    background-color: rgba(128, 189, 230, 0.205);
}
.div2 .container{
    /* border: 4px solid red; */
    width: 40ch;
    height: 60ch;
    padding: 1ch;
    margin-top: 5ch;
    margin-left: 9.5ch;
    display: inline-block;

}
.div2 .container .card-img{
    width: 35.1ch;
    height: 30ch;
}
.card-body{
    height: 25ch;
}
.card-title {
    color: rgb(66, 116, 149);
    font-weight: bolder;
}
.card-text{
    margin-top: 1.5ch;
    color: rgb(0,101,168);
    text-align: center;
    font-weight: bold;
    font-family:sans-serif;

}
.card-body .btn {
    position: relative;
}

.btn {
    position:absolute;
    bottom: 0ch;
    margin-left: 6ch;
}

.modal-content{
    position: relative;
    top: 10ch;
}
.modal-body img{
    width: 54ch;
    height: 35ch;
}
.modal-footer{
    height: 6ch;
}
.modal-footer .btn{
    background-color:  rgb(13,110,253);
}
.modal-body p{   
    color: rgb(0,101,168);
    font-family:sans-serif;
    font-weight: bolder;
}
.modal-title{
    color: rgb(66, 116, 149);
    font-weight: bolder;
}